{{!< default}}


<div class="jumbotron">
	{{!-- </br>
	</br>
	<h1>The</h1> --}}
</div>


<div class="mission">
	</br>
	<h3> The Grove's mission is to provide a convenient tool for the University of the Pacific's students to use.</h3>
</div>

<div class="categories">
	<div class="row1">
		<h3>View Products</h3>

	<a href="http://0.0.0.0:3000/products">
  	<img src="https://image.flaticon.com/icons/svg/452/452731.svg" alt="Products">
	</a>

	</div>
	<div class="row2">	
		<h3>View Promotions</h3>

	<a href="http://0.0.0.0:3000/products">
  	<img src="https://image.flaticon.com/icons/svg/214/214338.svg" alt="Promotions">
	</a>

	</div>
	<div class="row3">
		<h3>View Balance</h3>
	<a href="http://0.0.0.0:3000/products">
  	<img src="https://image.flaticon.com/icons/svg/762/762095.svg" alt="Balance">
	</a>

	</div>
</div>


{{!-- <div class="promotions"> --}}
	<div class="column1">
		</br>
		<h2>Featured Product</h2>
		<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui orci.</h5>
	</div>
	<div class="column2">
		
	</div>
{{!-- </div> --}}

<div class="questions_comments">
	<div class="left">
		<img src="https://image.flaticon.com/icons/svg/306/306810.svg" alt="Questions">
	</div>

	<div class="center">
		</br>
		</br>
		</br>
		</br>
		</br>
		<h2>Questions? Comments? Let us know!</h2>
		<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui orci, gravida sit amet enim vitae, rhoncus ultrices massa. Quisque convallis purus ut sem accumsan viverra. Praesent interdum massa et venenatis convallis.</h5>
	</div>

	<div class="right">	
		<img src="https://image.flaticon.com/icons/svg/682/682055.svg" alt="Comments">
	</div>
</div>

<div class="footer">
	</br>
	<h3> tbd </h3>
</div>