<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12"></div>
            <article>
                <p><a href= "/products">&larr; Back to products</a></p>
                <hr>
                <header>
                    <h1>{{data.product.title}}</h1>
                </header>
            </article>
            
        </div>
    </div>
</div>