// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;

.jumbotron {
    background-image: url("../images/uop2-min.jpg");
    
    background-size: 100%;
    width:100%;
    height: 800px;
}

.navbar-brand{
    background-image: url("../images/the_grove_logo.png");
    background-size: 100%;
    width:100px;

}